<div class="d-flex header-panel">
	<app-page-header [mainHeading]="'Password Policy'" [heading]="'Password Policy'" [subheading]="'System'" [icon]="''"></app-page-header>
</div>

<div class="card rounded-3">
	<div class="card-body">
		<form name="PasswordForm" [formGroup]="PasswordForm">
			<div class="form-check mb-3">
				<input type="checkbox" name="uppercase" formControlName="uppercase" id="uppercase" kendoCheckBox>
				<label class="k-checkbox-label" for="uppercase">Use Upper Case</label>
			</div>
			<div class="form-check mb-3">
				<input type="checkbox" name="lowercase" formControlName="lowercase" id="lowercase" kendoCheckBox>
				<label class="k-checkbox-label" for="lowercase">Use Lower Case</label>
			</div>
			<div class="form-check mb-3">
				<input type="checkbox" name="numericvalue" formControlName="numericvalue" id="numericvalue" kendoCheckBox>
				<label class="k-checkbox-label" for="numericvalue">Use Numeric Value</label>
			</div>
			<div class="form-check mb-3">
				<input type="checkbox" name="specialcharacter" formControlName="specialcharacter" id="specialcharacter" kendoCheckBox>
				<label class="k-checkbox-label" for="specialcharacter">Use Special Character</label>
			</div>
		</form>
	</div>
	<div class="card-footer bg-transparent border-0">
		<button type="submit" class="btn btn-primary" (click)="UpdatePassword()">Update</button>
	</div>
</div>
<div kendoDialogContainer></div>