<kendo-floatinglabel text="" class="pt-0" *ngIf="showFilter">
	<input kendoTextBox (input)="onInput($event)" class="form-control w-100 m-0" placeholder="Search ..." />
</kendo-floatinglabel>

<ngx-simplebar [options]="options" class="ngx-scrollbar mt-2 me-n2">
	<div *ngFor="let item of currentData; let i = index;" (click)="onSelectionChange(valueAccessor(item))" [ngClass]="{'k-state-selected': isItemSelected(item)}" class="text-truncate form-check">
		<input type="checkbox" id="chk-{{valueAccessor(item)}}" kendoCheckBox [checked]="isItemSelected(item)" />
		<label class="k-multiselect-checkbox k-checkbox-label d-inline" for="chk-{{valueAccessor(item)}}">
			{{ textAccessor(item) }}
		</label>
	</div>
</ngx-simplebar>