<div class="d-sm-flex align-items-end header-panel">
	<app-page-header [heading]="'Change Password'" [subheading]="''" [icon]="''"></app-page-header>
</div>

<div class="card rounded-3">
	<div class="card-body">
		<div class="alert alert-danger fade show mb-4 p-4 d-flex align-items-start" role="alert">
			<div class="flex-shrink-0 me-2">
				<svg-icon iClass="i-lg" svgicon="icon-info"></svg-icon>
			</div>
			<div *ngFor="let item of allPolicy" class="fs-6">
				<h5 class="alert-heading mb-0">Password Policy!</h5>
				Your password must contain ...
				<ul class="mb-0 ps-3">
					<li *ngIf="item.upppercase">{{item.upppercase}} {{item.lowercase ? 'and' : ''}}</li>
					<li *ngIf="item.lowercase">{{item.lowercase}} {{item.numericvalue ? 'and' : ''}}</li>
					<li *ngIf="item.numericvalue">{{item.numericvalue}} {{item.specialcharacter ? 'and' : ''}}</li>
					<li *ngIf="item.specialcharacter">{{item.specialcharacter}}</li>
				</ul>
				<div [hidden]="!showmsg">Your password is <strong>newly created or reset</strong>, please change it to <strong>new password for security</strong>.</div>
			</div>
			<div *ngIf="showWithoutPolicy && showmsg" class="fs-6">
				Your password is <strong>newly created or reset</strong>, please change it to new password for security.
			</div>
		</div>

		<form name="editForm" [formGroup]="editForm" class="form-validation" novalidate>
			<div class="row">
				<div class="col-lg-5 col-sm-6 col-xxl-4">
					<div class="mb-3 position-relative">
						<kendo-floatinglabel text="Current Password" class="required">
							<input type="{{currentPwd ? 'text':'password'}}" kendoTextBox name="CurrentPassword" class="form-control" formControlName="CurrentPassword" autocomplete="new-password" required (input)="checkValid()" />
						</kendo-floatinglabel>
						<svg toggle="#password-field" (click)="showPassword('currentPwd')" class="icon align-middle text-secondary toggle-pwd">
							<use attr.xlink:href="assets/icons/symbol-defs.svg#{{currentPwd ? 'icon-eye':'icon-eye-close'}}">
							</use>
						</svg>

						<kendo-formerror
							[hidden]="editForm.controls.CurrentPassword.valid || editForm.controls.CurrentPassword.pristine">
							Current Password is required..!
						</kendo-formerror>
					</div>
					<div class="mb-3 position-relative">
						<kendo-floatinglabel text="New Password" class="required">
							<input type="{{newPwd ? 'text':'password'}}" kendoTextBox name="NewPassword"
								class="form-control" formControlName="NewPassword" autocomplete="new-password" required (input)="checkValid()" />
						</kendo-floatinglabel>
						<svg toggle="#password-field" (click)="showPassword('newPwd')" class="icon align-middle text-secondary toggle-pwd">
							<use attr.xlink:href="assets/icons/symbol-defs.svg#{{newPwd ? 'icon-eye':'icon-eye-close'}}">
							</use>
						</svg>

						<kendo-formerror
							[hidden]="editForm.controls.NewPassword.valid || editForm.controls.NewPassword.pristine">
							New Password is required..!
						</kendo-formerror>
						<kendo-formerror
							*ngIf="editForm.controls.CurrentPassword.value===editForm.controls.NewPassword.value && ( editForm.controls.NewPassword.touched || editForm.controls.NewPassword.dirty)">
							Current Password and New Password are the same..!
						</kendo-formerror>
						<kendo-formerror
							*ngIf="(this.pwdPolicy!=='' && editForm.controls.NewPassword.errors?.validatePassword===false) && ( editForm.controls.NewPassword.touched || editForm.controls.NewPassword.dirty)">
							Start with uppercase letter, follow lowercase letter, at least one numeric character, at
							least one
							special character, Minimum password length is 8..!
						</kendo-formerror>
					</div>
					<div class="mb-3 position-relative">
						<kendo-floatinglabel text="Comfirm Password" class="required">
							<input type="{{confirmPwd ? 'text':'password'}}" kendoTextBox name="ConfirmPassword" class="form-control" formControlName="ConfirmPassword" autocomplete="new-password" required (input)="checkValid()" />
						</kendo-floatinglabel>
						<svg toggle="#password-field" (click)="showPassword('confirmPwd')" class="icon align-middle text-secondary toggle-pwd">
							<use attr.xlink:href="assets/icons/symbol-defs.svg#{{confirmPwd ? 'icon-eye':'icon-eye-close'}}">
							</use>
						</svg>

						<kendo-formerror
							*ngIf="flag || editForm.controls.ConfirmPassword.errors?.passwordNotEquivalent===true && ( editForm.controls.ConfirmPassword.touched || editForm.controls.ConfirmPassword.dirty)">
							Password Not Match..!
						</kendo-formerror>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="card-footer bg-transparent border-0">
		<button class="btn btn-light" (click)="cancel()">Cancel</button>
		<button class="btn btn-primary" [disabled]="isbtnShow" (click)="change()">Change</button>
		<!-- !editForm.controls.NewPassword.valid || !editForm.controls.ConfirmPassword.valid || !editForm.controls.CurrentPassword.valid -->
	</div>
</div>
<div kendoDialogContainer></div>