<div id="top"></div>
<a (click)="goBack()" class="btn position-fixed btn-icon btn-xl my-0">
	<svg class="icon i-def text-muted">
	   <use xlink:href="assets/icons/symbol-defs.svg#icon-chevron-left"></use>
	</svg>
</a>
<div class="container h-100 mt-5 mt-sm-0 pb-5">
	 <h1 class="d-none">Global TA <small>Cloud Time Attendance System</small></h1>
	 <div class="head d-flex mb-5 align-items-center position-sticky py-2">
		<img [src]="globals.storedSkin === 'dark' ? 'assets/images/global-ta-hr-cloud-light.svg' : 'assets/images/global-ta-hr-cloud.svg'" width="200px" />
	 </div>
	 <h2 class="h1 text-uppercase fw-light mb-3">GlobalTA Cloud Privacy Policy</h2>
	 <ol class="ps-0 ms-4 list-number policy-list">
		  <li>
				<h3 class="h5 fw-semibold title">Introduction</h3>
				<p>
					 GlobalTA Cloud Software is committed to protecting your privacy and developing technology that gives you the most powerful and safe online experience. 
					 We follow all necessary legal regulations with regards to data security. This Statement of privacy to describe our practices of collecting and managing your information.
				</p>
				<p>
					 We only collect and use your information through means allowed by Law. This Privacy Policy illustrates what personal information you may share with us, Global Wave Technology. When installing and using this application (GlobalTA Cloud). 
					 It also describes legal rights to data protection and privacy.
				</p>
		  </li>
		  <li>
				<h3 class="h5 fw-semibold title">Personal Information Collected when you using the GlobalTA Cloud Service</h3>
				<p>
					 GlobalTA Cloud collects personally identifiable information, such as your email address, name, and telephone number from your device in order for us to be able to the functionality of the application. 
					 This collected information is required for us to verify that your device is accurately registered.
				</p>
				<p>
					 We will access and process information on your specific use of the Application, your location, devices information, IP address etc. Some services that are part of the Application may require a specific consent from you. 
					 We will let you know and ask you to provide us herewith.
				</p>
		  </li>
		  <li>
				<h3 class="h5 fw-semibold title">Use for your personal information</h3>
				<p>
					 Some of the information we collect from you. We use your data information to show in our application and that supplied for the time attendance. GlobalTA Cloud uses Amazon storage for data.
				</p>
		  </li>
		  <li>
				<h3 class="h5 fw-semibold title">Security of Your Personal Information</h3>
				<p>
					 We do not oblige you to provide us your personal information and you agree that you are providing it to GlobalTA Cloud .We may use your personal information to provide you with the services relating to the GlobalTA Cloud platform. 
					 We never rent or sell any personally identifiable information to a third party unless required to provide a service requested and agreed to by you .we reserve the right to disclose personal information as required by Law.
				</p>
				<p>
					 We are also recommend that you take additional steps towards protecting yourself and your information, such as keeping your login information and passwords secrets , and making sure you regularly update the software and apps you’ve downloaded.
				</p>
		  </li>
		  <li>
				<h3 class="h5 fw-semibold title">Data Collection and Inquiries</h3>
				<p>
					 As a user, if you don’t use continue the application you may request your information collection by informing us by e-mail: sales.tacloud@globalwave.com.mm
					 Questions, comments and inquiries regarding this privacy policy and the personal data we have stored and processed about you are welcomed and should be addressed to sales.tacloud@globalwave.com.mm

				</p>
		  </li>
		  <li>
				<h3 class="h5 fw-semibold title">Change of Privacy Policy</h3>
				<p>
					 We are allowed to change this privacy policy at any time, and we advise you to review the Privacy Policy from time to time. In case of major changes in the content of this Privacy Policy, you will be informed about the changes and asked to agree hereto.
				</p>
		  </li>
	 </ol>
</div>