@import "custom-variables";
.login-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background: url('/assets/images/login-bg.png') no-repeat  left 18% / 110%, linear-gradient(to bottom right, darken($themeblue, 35%) , darken($themeblue, 20%));
    background-attachment: fixed;

    .form-group {
      position: relative;
      .icon {
         position: absolute;
         top: 23px;
         right: 0;
      }
    }
}