<!-- <div class="text-center">
  <h1 class="text-shadow" style="font-size:48px">{{msg}}</h1>
  <div>
    <a routerLink="/login" (click)="onLoggedout()">LogOut</a>
  </div>
</div>
<br />
<br /> -->
<div class="login-page p-4 p-md-5">
  <div class="row no-gutters h-100">
    <div class="col-sm-8 col-md-6 col-xl-4 col-lg-5 mx-auto align-self-center">
      <div class="card p-5 rounded-2x shadow my-2 my-md-0">
        <h1 class="d-none">Global TA <small>Cloud Time Attendance System</small></h1>
        <img src="assets/images/global-ta-hr-cloud.svg" width="220px" class="mx-auto mb-4" />
        <br>
        <div class="mb-2 pb-1">
          <h5 style="text-align: center; color: dodgerblue;">{{msg}}</h5>
        </div>
        <br>
        <div class="row font-weight-light text-sm mb-4">
          <div class="col-sm-6" *ngIf="login">
            <a routerLink="/login" href="javascript:void(0)" (click)="onLoggedout()"
              class="text-info text-decoration-none">
              <h5>Log In</h5>
            </a>
          </div>
          <div class="col-sm-6" *ngIf="login === false">
            <a routerLink="/login" href="javascript:void(0)" (click)="onLoggedout()"
              class="text-info text-decoration-none">
              <h5>Back</h5>
            </a>
          </div>
        </div>

      </div>
      <div class="text-sm my-3 text-white-50 font-weight-light text-center">Global TA Cloud - version 2.0.0</div>
    </div>
  </div>
</div>